@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 600 18px "Nunito", sans-serif;
}

.input {
  width: 20%;
  height: 40px;
  display: flex;
  text-align: center;
  border: 2px solid #370617;
  border-radius: 0 10px;
  font-size: 18px;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 40px;
  color: #370617;
}

.input::placeholder{
  color: #E85D04;
}

.card-principal {
  width: 30%;
  display: inline-block;
  text-align: center;
  border: 2px solid #370617;
  color: #370617;
  margin: 20px;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #E85D04;
}
