@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 600 18px "Nunito", sans-serif;
}

.input {
  width: 20%;
  height: 40px;
  display: flex;
  text-align: center;
  border: 2px solid #003049;
  border-radius: 0 10px;
  font-size: 18px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 40px;
  color: #f77f00;
}

.card-principal {
  width: 30%;
  display: inline-block;
  text-align: center;
  background-color: #f77f00;
  color: #003049;
  margin: 20px;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #003049;
}
